@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body{
    background-color: #B9CBD9;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* Joke Generator */
#content{
    background-color: #EAE7E2;
    width: 50%;
    border: 0.5em solid #242526;
    padding: 3em;
    text-align: center;
    box-shadow: 5px 10px #888888;
    border-radius: 0.5em;
    margin-bottom: 3em;
}

#content h1{
    font-size: 3rem;
    font-weight: 700;
}
#content p{
    font-size: 1.5rem;
    font-weight: 400;
}

#jokeButton{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    align-self: center;
    background-color: #e4e6eb;
    border: .2rem solid #242526;
    padding: 2rem;
}

/* Form */
#form{
    background-color: #EAE7E2;
    width: 50%;
    border: 0.5em solid #242526;
    padding: 3em;
    text-align: center;
    box-shadow: 5px 10px #888888;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#submit{
    font-family: 'Oswald', sans-serif;
    background-color: #e4e6eb;
    border: .2rem solid #242526;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    width: 50%;
    align-self: center;
}

#form li{
    text-align: left;
    font-size: 1rem;
}